@import "reset.css";
@import "normalize.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
	font: normal 14px 'Open Sans' , Arial, sans-serif;
	color: #999;
	background-image: url("../img/flyLights.jpg");
}

.wrap{
	width: 700px;
	height: 800px;
	margin: 0 auto;
	border-radius: 45px;
	background-color: white;
	opacity: 0.8;

}
.task-list{
	width: 88%;
	min-height: 300px;  
	margin-top: 40px;
	color: black;
	padding: 33px 6%;
}
.add-new-task{
	margin-top:66%; 
}
.delete-button{
	margin-left: 90%;
	margin-bottom: 5%;

}
.reg{
	width: 200px;
	margin: 0 auto;
	min-height: 200px;
	background: grey;
	
}
.body{
	background-image: url("../img/blackWood.jpg");
}

.row{
	background-color: grey;
	width: 88%;
	min-height: 300px;
	margin: 0 auto;
	border-radius: 45px;
	-webkit-background-clip: transparent, 2 ;
	
}
.row2{
	background-color: grey;
	width: 88%;
	min-height: 300px;
	margin: 0 auto;	
	border-radius: 45px;
	-webkit-background-clip: transparent, 2;
}

.h1{
	font-size: 40px;
	color: white;
	margin-left: 45%;
}
.register{
	color: black;
	margin-left: 45%;
	
}
.login{
	color: black;
	margin-left: 45%;
	
}


.header{

}
.navbar-default{
	
}

@media (max-width: 320px) {
	body {
		background-image: url("../img/flyLights.jpg");
		width: 100%;
		height:100%;
	}
	.body {
		background-color: green;
	}
	.wrap{
	width: 700px;
	height: 800px;
	margin: 0 auto;
	border-radius: 45px;
	background-color: white;
	opacity: 0.8;

}
.task-list{
	width: 88%;
	min-height: 300px;  
	margin-top: 40px;
	color: black;
	padding: 33px 6%;
}
.add-new-task{
	margin-top:66%; 
}
}

@media (max-width: 1024px) {
	body {
		background-image: url("../img/flyLights.jpg");
		width: 100%;
		height:100%;
	}
	.body {
		background-color: blue;
	}
	.wrap{
	width: 700px;
	height: 800px;
	margin: 0 auto;
	border-radius: 45px;
	background-color: white;
	opacity: 0.8;

}
.task-list{
	width: 88%;
	min-height: 300px;  
	margin-top: 40px;
	color: black;
	padding: 33px 6%;
}
.add-new-task{
	margin-top:66%; 
}
}